{% load static %}
<footer class="bb-footer margin-t-50">
    <div class="footer-directory padding-tb-50">
        <div class="container">
            <div class="row">
                <div class="col-12" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <div class="directory-title">
                        <h4>Brands Directory</h4>
                    </div>
                    <div class="directory-contact">
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <div class="inner-contact">
                                    <ul>
                                        <li>
                                            <span>Jewellery :</span>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Necklace</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Earrings</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Couple Rings</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Pendants</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">crystal</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Bangles</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Bracelets</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Nose pin</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Chain</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Earrings</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Couple Rings</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="inner-contact">
                                    <ul>
                                        <li>
                                            <span>Footwear :</span>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Sport</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Formal</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Boots</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Casual</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Cowboy Shoes</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Safety Shoes</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Party Wear Shoes</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Branded</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">First copy</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Long Shoes</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="inner-contact">
                                    <ul>
                                        <li>
                                            <span>Fashion :</span>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">T-Shirt</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Short & Jeans</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Jacket</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Dress & Frock</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Inner wear</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Hosiery</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="inner-contact">
                                    <ul>
                                        <li>
                                            <span>Cosmetics :</span>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Shampoo</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Body wash</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">face wash</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Makeup kit</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Liner</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Lipstick</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Perfume</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Body Shop</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Scrub</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Hair Gel</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Hair colors</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Hair Dye</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Sunscreen</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Skin Lotion</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Liner</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar-col-3.html">Lipstick</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-container">
        <div class="footer-top padding-tb-50">
            <div class="container">
                <div class="row m-minus-991" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <div class="col-sm-12 col-lg-3 bb-footer-cat">
                        <div class="bb-footer-widget bb-footer-company">
                            <img src="{% static "assets/img/logo.png" %}" class="bb-footer-logo" alt="footer logo">
                            <img src="{% static "assets/img/logo.png" %}" class="bb-footer-dark-logo" alt="footer logo">
                            <p class="bb-footer-detail">BlueBerry is the biggest market of grocery products. Get
                                your daily needs from our store.</p>
                            <div class="bb-app-store">
                                <a href="javascript:void(0)" class="app-img">
                                    <img src="{% static "assets/img/app/android.png" %}" class="adroid" alt="apple">
                                </a>
                                <a href="javascript:void(0)" class="app-img">
                                    <img src="{% static "assets/img/app/apple.png" %}" class="apple" alt="apple">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-2 bb-footer-info">
                        <div class="bb-footer-widget">
                            <h4 class="bb-footer-heading">Category</h4>
                            <div class="bb-footer-links bb-footer-dropdown">
                                <ul class="align-items-center">
                                    <li class="bb-footer-link">
                                        <a href="shop-left-sidebar-col-3.html">Dairy & Milk</a>
                                    </li>
                                    <li class="bb-footer-link">
                                        <a href="shop-banner-left-sidebar-col-3.html">Snack & Spice</a>
                                    </li>
                                    <li class="bb-footer-link">
                                        <a href="shop-full-width-col-5.html">Fast Food</a>
                                    </li>
                                    <li class="bb-footer-link">
                                        <a href="shop-list-left-sidebar.html">Juice & Drinks</a>
                                    </li>
                                    <li class="bb-footer-link">
                                        <a href="shop-list-full-col-2.html">Bakery</a>
                                    </li>
                                    <li class="bb-footer-link">
                                        <a href="shop-banner-right-sidebar-col-4.html">Seafood</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-2 bb-footer-account">
                        <div class="bb-footer-widget">
                            <h4 class="bb-footer-heading">Company</h4>
                            <div class="bb-footer-links bb-footer-dropdown">
                                <ul class="align-items-center">
                                    <li class="bb-footer-link">
                                        <a href="about-us.html">About us</a>
                                    </li>
                                    <li class="bb-footer-link">
                                        <a href="track-order.html">Delivery</a>
                                    </li>
                                    <li class="bb-footer-link">
                                        <a href="faq.html">Legal Notice</a>
                                    </li>
                                    <li class="bb-footer-link">
                                        <a href="terms.html">Terms & conditions</a>
                                    </li>
                                    <li class="bb-footer-link">
                                        <a href="checkout.html">Secure payment</a>
                                    </li>
                                    <li class="bb-footer-link">
                                        <a href="contact-us.html">Contact us</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-2 bb-footer-service">
                        <div class="bb-footer-widget">
                            <h4 class="bb-footer-heading">Account</h4>
                            <div class="bb-footer-links bb-footer-dropdown">
                                <ul class="align-items-center">
                                    <li class="bb-footer-link">
                                        <a href="login.html">Sign In</a>
                                    </li>
                                    <li class="bb-footer-link">
                                        <a href="cart.html">View Cart</a>
                                    </li>
                                    <li class="bb-footer-link">
                                        <a href="faq.html">Return Policy</a>
                                    </li>
                                    <li class="bb-footer-link">
                                        <a href="shop-left-sidebar-col-3.html">Become a Vendor</a>
                                    </li>
                                    <li class="bb-footer-link">
                                        <a href="product-left-sidebar.html">Affiliate Program</a>
                                    </li>
                                    <li class="bb-footer-link">
                                        <a href="checkout.html">Payments</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-3 bb-footer-cont-social">
                        <div class="bb-footer-contact">
                            <div class="bb-footer-widget">
                                <h4 class="bb-footer-heading">Contact</h4>
                                <div class="bb-footer-links bb-footer-dropdown">
                                    <ul class="align-items-center">
                                        <li class="bb-footer-link bb-foo-location">
                                            <span class="mt-15px">
                                                <i class="ri-map-pin-line"></i>
                                            </span>
                                            <p>971 Lajamni, Motavarachha, Surat, Gujarat, Bharat 394101.</p>
                                        </li>
                                        <li class="bb-footer-link bb-foo-call">
                                            <span>
                                                <i class="ri-whatsapp-line"></i>
                                            </span>
                                            <a href="tel:+009876543210">+00 9876543210</a>
                                        </li>
                                        <li class="bb-footer-link bb-foo-mail">
                                            <span>
                                                <i class="ri-mail-line"></i>
                                            </span>
                                            <a href="mailto:example@email.com">example@email.com</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="bb-footer-social">
                            <div class="bb-footer-widget">
                                <div class="bb-footer-links bb-footer-dropdown">
                                    <ul class="align-items-center">
                                        <li class="bb-footer-link">
                                            <a href="javascript:void(0)"><i class="ri-facebook-fill"></i></a>
                                        </li>
                                        <li class="bb-footer-link">
                                            <a href="javascript:void(0)"><i class="ri-twitter-fill"></i></a>
                                        </li>
                                        <li class="bb-footer-link">
                                            <a href="javascript:void(0)"><i class="ri-linkedin-fill"></i></a>
                                        </li>
                                        <li class="bb-footer-link">
                                            <a href="javascript:void(0)"><i class="ri-instagram-line"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="bb-bottom-info">
                        <div class="footer-copy">
                            <div class="footer-bottom-copy ">
                                <div class="bb-copy">Copyright © <span id="copyright_year"></span>
                                    <a class="site-name" href="index-2.html">Kanzul Hind</a> all rights reserved.
                                </div>
                            </div>
                        </div>
                        <div class="footer-bottom-right">
                            <div class="footer-bottom-payment d-flex justify-content-center">
                                <div class="payment-link">
                                    <img src="{% static "assets/img/payment/payment.png" %}" alt="payment">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Cart sidebar -->
<div class="bb-side-cart-overlay"></div>
<div class="bb-side-cart">
    <div class="row h-full">
        <div class="col-md-5 col-12 d-none-767">
            <div class="bb-top-contact">
                <div class="bb-cart-title">
                    <h4>Related Items</h4>
                </div>
            </div>
            <div class="bb-cart-box mb-minus-24 cart-related bb-border-right">
                <div class="bb-deal-card mb-24">
                    <div class="bb-pro-box">
                        <div class="bb-pro-img">
                            <span class="flags">
                                <span>Hot</span>
                            </span>
                            <a href="javascript:void(0)">
                                <div class="inner-img">
                                    <img class="main-img" src="{% static "assets/img/product/2.jpg" %}" alt="product-2">
                                    <img class="hover-img" src="{% static "assets/img/product/back-2.jpg" %}" alt="product-2">
                                </div>
                            </a>
                            <ul class="bb-pro-actions">
                                <li class="bb-btn-group">
                                    <a href="javascript:void(0)" title="Wishlist">
                                        <i class="ri-heart-line"></i>
                                    </a>
                                </li>
                                <li class="bb-btn-group">
                                    <a href="javascript:void(0)" data-link-action="quickview" title="Quick View"
                                        data-bs-toggle="modal" data-bs-target="#bry_quickview_modal">
                                        <i class="ri-eye-line"></i>
                                    </a>
                                </li>
                                <li class="bb-btn-group">
                                    <a href="compare.html" title="Compare">
                                        <i class="ri-repeat-line"></i>
                                    </a>
                                </li>
                                <li class="bb-btn-group">
                                    <a href="javascript:void(0)" title="Add To Cart">
                                        <i class="ri-shopping-bag-4-line"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="bb-pro-contact">
                            <div class="bb-pro-subtitle">
                                <a href="shop-left-sidebar-col-3.html">Juice</a>
                                <span class="bb-pro-rating">
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-line"></i>
                                </span>
                            </div>
                            <h4 class="bb-pro-title"><a href="product-left-sidebar.html">Organic Apple Juice
                                    Pack</a></h4>
                            <div class="bb-price">
                                <div class="inner-price">
                                    <span class="new-price">$15</span>
                                    <span class="item-left">3 Left</span>
                                </div>
                                <span class="last-items">100 ml</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bb-cart-banner mb-24">
                    <div class="banner">
                        <img src="{% static "assets/img/category/cart-banner.jpg" %}" alt="cart-banner">
                        <div class="detail">
                            <h4>Organic & Fresh</h4>
                            <h3>Vegetables</h3>
                            <a href="shop-left-sidebar-col-3.html">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-12">
            <div class="bb-inner-cart">
                <div class="bb-top-contact">
                    <div class="bb-cart-title">
                        <h4>My cart</h4>
                        <a href="javascript:void(0)" class="bb-cart-close" title="Close Cart"></a>
                    </div>
                </div>
                <div class="bb-cart-box item">
                    <ul class="bb-cart-items">
                        <li class="cart-sidebar-list">
                            <a href="javascript:void(0)" class="cart-remove-item"><i class="ri-close-line"></i></a>
                            <a href="javascript:void(0)" class="bb-cart-pro-img">
                                <img src="{% static "assets/img/new-product/1.jpg" %}" alt="product-img-1">
                            </a>
                            <div class="bb-cart-contact">
                                <a href="product-left-sidebar.html" class="bb-cart-sub-title">Ground Nuts Oil
                                    Pack</a>
                                <span class="cart-price">
                                    <span class="new-price">$15</span>
                                    x 500 g
                                </span>
                                <div class="qty-plus-minus">
                                    <input class="qty-input" type="text" name="bb-qtybtn" value="1">
                                </div>
                            </div>
                        </li>
                        <li class="cart-sidebar-list">
                            <a href="javascript:void(0)" class="cart-remove-item"><i class="ri-close-line"></i></a>
                            <a href="javascript:void(0)" class="bb-cart-pro-img">
                                <img src="{% static "assets/img/new-product/2.jpg" %}" alt="product-img-2">
                            </a>
                            <div class="bb-cart-contact">
                                <a href="product-left-sidebar.html" class="bb-cart-sub-title">Organic Litchi Juice
                                    Pack</a>
                                <span class="cart-price">
                                    <span class="new-price">$25</span>
                                    x 500 ml
                                </span>
                                <div class="qty-plus-minus">
                                    <input class="qty-input" type="text" name="bb-qtybtn" value="1">
                                </div>
                            </div>
                        </li>
                        <li class="cart-sidebar-list">
                            <a href="javascript:void(0)" class="cart-remove-item"><i class="ri-close-line"></i></a>
                            <a href="javascript:void(0)" class="bb-cart-pro-img">
                                <img src="{% static "assets/img/new-product/3.jpg" %}" alt="product-img-3">
                            </a>
                            <div class="bb-cart-contact">
                                <a href="product-left-sidebar.html" class="bb-cart-sub-title">Crunchy Banana
                                    Chips</a>
                                <span class="cart-price">
                                    <span class="new-price">$1</span>
                                    x 500 g
                                </span>
                                <div class="qty-plus-minus">
                                    <input class="qty-input" type="text" name="bb-qtybtn" value="1">
                                </div>
                            </div>
                        </li>
                        <li class="cart-sidebar-list">
                            <a href="javascript:void(0)" class="cart-remove-item"><i class="ri-close-line"></i></a>
                            <a href="javascript:void(0)" class="bb-cart-pro-img">
                                <img src="{% static "assets/img/new-product/6.jpg" %}" alt="product-img-3">
                            </a>
                            <div class="bb-cart-contact">
                                <a href="product-left-sidebar.html" class="bb-cart-sub-title">Small Cardamom Spice
                                    Pack</a>
                                <span class="cart-price">
                                    <span class="new-price">$4</span>
                                    x 500 g
                                </span>
                                <div class="qty-plus-minus">
                                    <input class="qty-input" type="text" name="bb-qtybtn" value="1">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="bb-bottom-cart">
                    <div class="cart-sub-total">
                        <table class="table cart-table">
                            <tbody>
                                <tr>
                                    <td class="title">Sub-Total :</td>
                                    <td class="price">$300.00</td>
                                </tr>
                                <tr>
                                    <td class="title">VAT (20%) :</td>
                                    <td class="price">$60.00</td>
                                </tr>
                                <tr>
                                    <td class="title">Total :</td>
                                    <td class="price">$360.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="cart-btn">
                        <a href="cart.html" class="bb-btn-1">View Cart</a>
                        <a href="checkout.html" class="bb-btn-2">Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Category Popup -->
<div class="bb-category-sidebar">
    <div class="bb-category-overlay"></div>
    <div class="category-sidebar">
        <button type="button" class="bb-category-close" title="Close"></button>
        <div class="container-fluid">
            <div class="row mb-minus-24">
                <div class="col-12">
                    <div class="bb-category-tags">
                        <div class="sub-title">
                            <h4>keywords</h4>
                        </div>
                        {% comment %} <div class="bb-tags">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">Clothes</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Fruits</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Snacks</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Dairy</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Seafood</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Toys</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">perfume</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">jewelry</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Bags</a>
                                </li>
                            </ul>
                        </div> {% endcomment %}
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="sub-title">
                                <h4>Explore Categories</h4>
                            </div>
                        </div>
                        <div class="col-xl-2 col-md-4 col-sm-6 col-12 mb-24">
                            <div class="bb-category-box category-items-1">
                                <div class="category-image">
                                    <img src="{% static "assets/img/category/1.svg" %}"  alt="category">
                                </div>
                                <div class="category-sub-contact">
                                    <h5><a href="shop-left-sidebar-col-3.html">vegetables</a></h5>
                                    <p>485 items</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-md-4 col-sm-6 col-12 mb-24">
                            <div class="bb-category-box category-items-2">
                                <div class="category-image">
                                    <img src="{% static "assets/img/category/2.svg" %}" alt="category">
                                </div>
                                <div class="category-sub-contact">
                                    <h5><a href="shop-left-sidebar-col-3.html">Fruits</a></h5>
                                    <p>291 items</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-md-4 col-sm-6 col-12 mb-24">
                            <div class="bb-category-box category-items-3">
                                <div class="category-image">
                                    <img src="{% static "assets/img/category/3.svg" %}" alt="category">
                                </div>
                                <div class="category-sub-contact">
                                    <h5><a href="shop-left-sidebar-col-3.html">Cold Drinks</a></h5>
                                    <p>49 items</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-md-4 col-sm-6 col-12 mb-24">
                            <div class="bb-category-box category-items-4">
                                <div class="category-image">
                                    <img src="{% static "assets/img/category/4.svg" %}" alt="category">
                                </div>
                                <div class="category-sub-contact">
                                    <h5><a href="shop-left-sidebar-col-3.html">Bakery</a></h5>
                                    <p>08 items</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-md-4 col-sm-6 col-12 mb-24">
                            <div class="bb-category-box category-items-2">
                                <div class="category-image">
                                    <img src="{% static "assets/img/category/5.svg" %}" alt="category">
                                </div>
                                <div class="category-sub-contact">
                                    <h5><a href="shop-left-sidebar-col-3.html">Fast Food</a></h5>
                                    <p>291 items</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-md-4 col-sm-6 col-12 mb-24">
                            <div class="bb-category-box category-items-3">
                                <div class="category-image">
                                    <img src="{% static "assets/img/category/6.svg" %}" alt="category">
                                </div>
                                <div class="category-sub-contact">
                                    <h5><a href="shop-left-sidebar-col-3.html">Snacks</a></h5>
                                    <p>49 items</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% comment %} <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="sub-title">
                                <h4>Related products</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mb-24">
                            <div class="bb-category-cart">
                                <a href="javascript:void(0)" class="pro-img">
                                    <img src="{% static "assets/img/new-product/1.jpg" %}" alt="new-product-1">
                                </a>
                                <div class="side-contact">
                                    <h4 class="bb-pro-title"><a href="product-left-sidebar.html">Ground Nuts Oil
                                            Pack</a></h4>
                                    <span class="bb-pro-rating">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-line"></i>
                                    </span>
                                    <div class="inner-price">
                                        <span class="new-price">$15</span>
                                        <span class="old-price">$22</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mb-24">
                            <div class="bb-category-cart">
                                <a href="javascript:void(0)" class="pro-img">
                                    <img src="{% static "assets/img/new-product/2.jpg" %}" alt="new-product-2">
                                </a>
                                <div class="side-contact">
                                    <h4 class="bb-pro-title"><a href="product-left-sidebar.html">Organic Litchi
                                            Juice</a>
                                    </h4>
                                    <span class="bb-pro-rating">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-line"></i>
                                    </span>
                                    <div class="inner-price">
                                        <span class="new-price">$25</span>
                                        <span class="old-price">$30</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mb-24">
                            <div class="bb-category-cart">
                                <a href="javascript:void(0)" class="pro-img">
                                    <img src="{% static "assets/img/new-product/3.jpg" %}" alt="new-product-3">
                                </a>
                                <div class="side-contact">
                                    <h4 class="bb-pro-title"><a href="product-left-sidebar.html">Spicy Banana
                                            Chips</a></h4>
                                    <span class="bb-pro-rating">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-line"></i>
                                    </span>
                                    <div class="inner-price">
                                        <span class="new-price">$01</span>
                                        <span class="old-price">$02</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mb-24">
                            <div class="bb-category-cart">
                                <a href="javascript:void(0)" class="pro-img">
                                    <img src="{% static "assets/img/new-product/4.jpg" %}" alt="new-product-4">
                                </a>
                                <div class="side-contact">
                                    <h4 class="bb-pro-title"><a href="product-left-sidebar.html">Spicy Potato
                                            Chips</a></h4>
                                    <span class="bb-pro-rating">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-line"></i>
                                    </span>
                                    <div class="inner-price">
                                        <span class="new-price">$25</span>
                                        <span class="old-price">$35</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mb-24">
                            <div class="bb-category-cart">
                                <a href="javascript:void(0)" class="pro-img">
                                    <img src="{% static "assets/img/new-product/5.jpg" %}" alt="new-product-5">
                                </a>
                                <div class="side-contact">
                                    <h4 class="bb-pro-title"><a href="product-left-sidebar.html">Black Pepper
                                            Spice</a>
                                    </h4>
                                    <span class="bb-pro-rating">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-line"></i>
                                    </span>
                                    <div class="inner-price">
                                        <span class="new-price">$32</span>
                                        <span class="old-price">$35</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mb-24">
                            <div class="bb-category-cart">
                                <a href="javascript:void(0)" class="pro-img">
                                    <img src="{% static "assets/img/new-product/6.jpg" %}" alt="new-product-6">
                                </a>
                                <div class="side-contact">
                                    <h4 class="bb-pro-title"><a href="product-left-sidebar.html">Small Chili
                                            Spice</a>
                                    </h4>
                                    <span class="bb-pro-rating">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-line"></i>
                                    </span>
                                    <div class="inner-price">
                                        <span class="new-price">$41</span>
                                        <span class="old-price">$45</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> {% endcomment %}
            </div>
        </div>
    </div>
</div>

<!-- Quick view Modal -->
<div class="modal fade quickview-modal" id="bry_quickview_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="qty-close" data-bs-dismiss="modal" aria-label="Close"
                title="Close"></button>
            <div class="modal-body">
                <div class="row mb-minus-24">
                    <div class="col-md-5 col-sm-12 col-xs-12 mb-24">
                        <div class="single-pro-img single-pro-img-no-sidebar">
                            <div class="single-product-scroll">
                                <div class="single-slide zoom-image-hover">
                                    <img class="img-responsive" src="{% static "assets/img/product/1.jpg" %}" alt="product-img-1">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-12 col-xs-12 mb-24">
                        <div class="quickview-pro-content">
                            <h5 class="bb-quick-title">
                                <a href="product-left-sidebar.html">Mix nuts premium quality organic dried fruit
                                    250g pack</a>
                            </h5>
                            <div class="bb-pro-rating">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-line"></i>
                            </div>
                            <div class="bb-quickview-desc">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                                since the 1900s,</div>
                            <div class="bb-quickview-price">
                                <span class="new-price">$50.00</span>
                                <span class="old-price">$62.00</span>
                            </div>
                            <div class="bb-pro-variation">
                                <ul>
                                    <li class="active">
                                        <a href="javascript:void(0)" class="bb-opt-sz" data-tooltip="Small">250g</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="bb-opt-sz"
                                            data-tooltip="Medium">500g</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="bb-opt-sz" data-tooltip="Large">1kg</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="bb-opt-sz"
                                            data-tooltip="Extra Large">2kg</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="bb-quickview-qty">
                                <div class="qty-plus-minus">
                                    <input class="qty-input" type="text" name="bb-qtybtn" value="1">
                                </div>
                                <div class="bb-quickview-cart">
                                    <button type="button" class="bb-btn-1">
                                        <i class="ri-shopping-bag-line"></i>Add To Cart
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Newsletter Modal -->


<!-- Tools Sidebar -->


<!-- Back to top  -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="https://api.whatsapp.com/send?phone=51955081075&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202."
    class="float" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
</a>