{% extends "web/base.html" %}
{% load static %}
{% block content %}

    <!-- Breadcrumb -->
    <section class="section-breadcrumb margin-b-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row bb-breadcrumb-inner">
                        <div class="col-md-6 col-sm-12">
                            <h2 class="bb-breadcrumb-title">Contact Us</h2>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <ul class="bb-breadcrumb-list">
                                <li class="bb-breadcrumb-item"><a href="index-2.html">Home</a></li>
                                <li><i class="ri-arrow-right-double-fill"></i></li>
                                <li class="bb-breadcrumb-item active">Contact Us</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact us -->
    <section class="section-contact padding-tb-50">
        <div class="container">
            <div class="row mb-minus-24">
                <div class="col-12">
                    <div class="section-title bb-center" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                        <div class="section-detail">
                            <h2 class="bb-title">Get In <span>Touch</span></h2>
                            <p>Please select a topic below related to you inquiry. If you don't fint what you need, fill
                                out our contact form.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 mb-24" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                    <div class="bb-contact-form">
                        <form method="post">
                            <div class="bb-contact-wrap">
                                <input type="text" name="firstname" placeholder="Enter Your First Name">
                            </div>
                            <div class="bb-contact-wrap">
                                <input type="text" name="lastname" placeholder="Enter Your Last Name">
                            </div>
                            <div class="bb-contact-wrap">
                                <input type="email" name="email" placeholder="Enter Your Email">
                            </div>
                            <div class="bb-contact-wrap">
                                <input type="text" name="phonenumber" placeholder="Enter Your Phone Number">
                            </div>
                            <div class="bb-contact-wrap">
                                <textarea name="address" placeholder="Please leave your comments here.."></textarea>
                            </div>
                            <div class="bb-contact-button">
                                <button class="bb-btn-2" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 col-12 mb-24" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
                    <div class="bb-contact-maps">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d929.6923186886103!2d72.9043573711624!3d21.240995949535076!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1718947386404!5m2!1sen!2sin"
                            loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}